<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to the heaven!!!</h1>
    <a class="btn btn-primary"href="charges/new">Newsletter</a>
    <a href="users/new">New User</a>

  </body>
</html>
