<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Paiement accepté</title>
  </head>
  <body>
    <h2>Thanks, you paid <strong>$5.00</strong>!</h2>

    <a href="/">Access my newsletter</a>

  </body>
</html>
